annotated-doc
annotated-types
anyio
certifi
click
colorama
fastapi
h11
httpcore
httpx
idna
markdown-it-py
mdurl
pydantic
pydantic-core
pygments
pyjson5
rich
shellingham
starlette
typer
typing-extensions
typing-inspection
workers-py
